<div class="page-wrapper">
  <div class="columns">
    <div class="column is-one-quarter">
      <div class="block">
        <h1 class="title">Squad Scope Guide</h1>
        <h2 class="subtitle">For Anti-Tank personnel</h2>
      </div>
      <div class="block">
        <p>Welcome to the Squad Scope Guide. Please be aware, this is WORK IN PROGRESS.
        <br/>This page will assist you with the basic ranging for all anti-tank weapons in squad that are NOT
          straight forward.
        </p>
      </div>
      <div class="block" [formGroup]="teamForm">
        <p>Let's get you started. Please select your team.</p>
        <div class="select">
          <select (change)="teamChangeHandler($event)" formControlName="team">
            <option value="" disabled>Select your team</option>
            <option value="US">🇺🇸 - United States Army</option>
            <option value="RU">🇷🇺 - Russian Ground Forces</option>
            <option value="MILITIA">🚩 - Irregular Militia Forces</option>
            <option value="MEA">🚩 - Middle Eastern Alliance</option>
          </select>
        </div>
      </div>
      <div
        [formGroup]="weaponForm"
        class="block"
        *ngIf="teamForm.controls.team.value != ''"
      >
        <p>Alright, awesome! Please select your weapon.</p>
        <div class="select">
          <select (change)="weaponChangeHandler($event)">
            <option value="">Select your kit</option>
            <option *ngIf="teamForm.controls.team.value === 'US'" value="M3_MAAWS_HEAT">M3 MAAWS HEAT (High Explosive Anti-Tank)</option>
            <option *ngIf="teamForm.controls.team.value === 'US'" value="M3_MAAWS_TANDEM">M3 MAAWS Tandem (Tandem Heavy Anti-Tank)</option>
            <option *ngIf="teamForm.controls.team.value === 'RU' || teamForm.controls.team.value === 'MEA'" value="RPG-7V2">RPG-7V2 (HE + Tandem)</option>
            <option *ngIf="teamForm.controls.team.value === 'RU'" value="RPG_28_TANDEM">RPG-28 (Tandem)</option>
            <option *ngIf="teamForm.controls.team.value === 'MILITIA'" value="RPG_29_TANDEM">RPG-29 (Tandem)</option>
            <option *ngIf="teamForm.controls.team.value === 'MEA'" value="RPG_29_TANDEM_MEA">RPG-29 (Tandem)</option>
          </select>
        </div>
      </div>
      <div
        [formGroup]="rangingForm"
        class="block"
        *ngIf="weaponService.weaponHasRangingOptions(weaponForm.controls.weapon.value)"
      >
        <p>Seems like your weapon has additional ranging options.<br/>Depending on your settings the scope guide might
          change. Please select your ranging.
        </p>
        <div class="select">
          <select
            (change)="rangingChangeHandler($event)"
            formControlName="ranging"
          >
            <option value="" disabled>Select your ranging</option>
            <option
              *ngFor="let option of weaponService.getRangingsForWeapon(weaponForm.controls.weapon.value)"
              [value]="option">
              {{option}}
            </option>
          </select>
        </div>
      </div>
      <div class="block">
        <a href="https://github.com/nickland/SquadScopeGuide/issues/" target="_blank">Click me to report a problem</a>
        <a href="https://github.com/nickland/SquadScopeGuide" target="_blank">Contribute on Github</a>
      </div>
    </div>
    <div class="column is-three-quarters">
      <img
        *ngIf="weaponForm.controls.weapon.value != ''" alt="Please follow the instructions on the left."
        [src]="imageSource"/>
      <p
        *ngIf="weaponForm.controls.weapon.value === 'RPG-7V2'">
        Source:
        <a href="https://www.reddit.com/r/joinsquad/comments/d1qcgl/guide_how_to_aim_rpg7_tandem/" target="_blank">
          Dackis_SWE on Reddit
        </a>
      </p>
      <p
        *ngIf="weaponForm.controls.weapon.value === 'RPG_29_TANDEM'">
        Source:
        <a href="https://www.reddit.com/r/joinsquad/comments/g50vgt/the_rpg29_only_zeroes_to_400m_but_i_made_a_little/" target="_blank">
          shadow_moose on Reddit
        </a>
      </p>
    </div>
  </div>
</div>
